body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
}
.title{
    text-align: center;
    color: rgb(114, 244, 88);
}

#poiseuilleForm{


    color: rgb(114, 244, 88);
}
th{
    font-size: 2.5vmax;
}
#td1{
    text-align: right;
}
td{
    font-size: 3vmax;
}
.header{
    text-align: center;
    justify-content: center;
}
.footer{
    text-align: center;

}
button{
    margin-top: 2vh;
    font-size: 4.5mm;
    border-radius: 5vh;
    border: 1.5px solid rgb(255, 255, 255);
    padding: 2.5vh 4vw;
    background-color: rgba(255, 0, 0, 0.942);
    color: aliceblue;
    cursor:pointer;
}
#deltaP{
    width: 15vi;
    height: 5vh;
    margin-left: 0;
    
}
#radius{
    width: 15vi;
    height: 5vh;
    margin-left: 0;
    
}
#viscosity{
    width: 15vi;
    height: 5vh;
    margin-left: 0;
    
}
#flowrate{
    width: 15vi;
    height: 5vh;
    margin-left: 0;
    
}
#result{
    font-size: 3vmax;
    color: rgb(114, 244, 88);
    
}
